@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
*{
    font-family: "Edu NSW ACT Cursive", "cursive";
    font-weight: 600;
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background:  rgb(6, 81, 21);
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
#head{
  height: 90vh;
  width: 100%;
  background: url(img/UP_D9mi9.jpeg)no-repeat ;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
#logo_menu_div{
  padding:0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
}
#logo_menu_div>img{
  background: none;
}
.text{
  width: 100%;
  text-align: start;
  padding: 35px 15px;
  background: none;
}
.text>h1{
  color: rgb(0, 0, 0);
  background: none;
  letter-spacing: -5px;
  animation: h1 5.5s ;
  animation-delay: 0.7s;
}
@keyframes h1 {
  0%{
    opacity: 1;
    letter-spacing: 0;
    translate: 0px 0px;
  }50%{
    opacity: 0;
    letter-spacing: 15px;
    translate: 50% 0px;
  }100%{
    opacity: 1;
    letter-spacing: 0;
    translate: 0px 0px;
  }
}
.text>p{
  font-family: sans-serif;
  color:  rgb(6, 81, 21);
  background: wheat;
  padding: 0px 10px;
}



#middil{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}
#middil>.text{
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:wheat;

}
#middil>.text>h3{
  width: 100%;
  text-align: center;
  color: rgb(6, 81, 21);
  font-family: sans-serif;;
  padding: 5px;
}
#project_div{
  width: 100%;
  background: none;
  height: 80%;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
}
#project_div>.item{
  background: rgba(255, 255, 255, 0.737);
  width: 45%;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#project_div>.sss{
  animation: sss 0.7s infinite;
}
@keyframes sss {
  0%{
    opacity: 1;
  }50%{
    opacity: 0.6;
  }100%{
    opacity: 1;
  }
}
.price{
  gap: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
   flex-direction: row;
}
.price>.old_price{
  font-family: sans-serif;
  font-size: 10px;
  text-decoration: line-through;
}
.price>.new_price{
  font-family: sans-serif;

}
#project_div>.item>p{
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  box-sizing: border-box;
}
#project_div>.item>img{
  width: 75%;
  background: none;
}
#foteer{
  margin-top: 15px;
  width: 100%;
  padding: 25px;
  height: fit-content;
  background: wheat;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}
.content{
  display: flex;
  justify-content: center;
  justify-items: center;
}
.socialmidia{
  display: flex;
  justify-content: center;
  justify-items: center;
}
.socialmidia>a>img{
  width: 30px;
}
@media (min-width:650px) {
  body{
    display: none;
  }
}